body{
	background-color: #87a38b;
	text-align: center;
}
h1{
	font-size: 55px;
	font-family:monospace;
	color: lemonchiffon;
}

h2{
	font-size: 30px;
	font-family: serif;
	color: floralwhite;
}

h3{
	font-size: 20px;
	font-family: serif;
	color: floralwhite;
}
img{
	border: 0;
    width: 950px;
    vertical-align: middle;
    display: inline-block;
}
}

